{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-brand">
  <header class="row py-4 hr bg-default">
    <div class="col-sm-12 mw-px-800 mx-auto">
      <div class="float-left">
        <a href="{{ 'post'|url(pid=post.key.id()) }}" class="p-2 text-danger">Cancel</a>
      </div> <!-- /.float-dir -->

      <div class="float-right">
        <span class="p-2 header-text">{{ username }}</span>
        <span class="p-2 header-icon-text">{{ username|truncate(6, True) }}</span>
        <a href="{{ 'logout'|url }}" class="p-2 header-text">Log Out</a>
        <a href="{{ 'logout'|url }}" class="p-2 fa fa-sign-out fa-lg header-icon-text" aria-hidden="true"></a>
      </div>  <!-- /.float-dir -->
    </div> <!-- /.col -->
  </header> <!-- /.row -->

  <main class="row py-4">
    <div class="col-sm-12 mw-px-800 mx-auto">
      <form class="" action="" method="post">
        <div class="form-group{% if post_error %} has-danger{% endif %}">
          <label class="sr-only" for="post-title">Post Title</label>
          <input type="text" id="post-title" class="form-control form-control-lg borderless" name="title" value="{{ post.title }}">
        </div> <!-- /.form-group -->

        <div class="form-group{% if post_error %} has-danger{% endif %}">
          <label class="sr-only" for="post-content">Post Content</label>
          <textarea id="post-content" class="form-control form-control-lg" name="content" rows="20">{{ post.content|safe }}</textarea>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-outline-success">Publish</button>
        </div> <!-- /.form-group -->

        {% if post_error %}
        <p class="text-danger">Post must have Title and Content!</p>
        {% endif %}
      </form>

      <form class="d-inline" action="{{ 'delete'|url(pid=post.key.id()) }}" method="post">
        <button type="submit" class="d-inline p-2 text-danger link-like-btn borderless">Delete</button>
      </form>
    </div> <!-- /.col -->
  </main> <!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
